# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Procedual_Prototype.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Coding\Unity Projects\Procedual_Prototype\.idea\.idea.Procedual_Prototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
